<div class="h1">Quiz de Sensibilisation au changement climatique</div>
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" [routerLink]="['']">Quiz</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['admin']">Administration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>
  </ul>