<br>
<b>{{quiz.code}} - {{quiz.libelle}}</b>
<br>
<br>
<div *ngFor="let question of questions" class="quiz">
    <ng-container *ngIf="!displayBilanQuiz && question.ordre == ordreQuestion">
        {{question.ordre}} . {{ question.libelle }}<br>
        <br>
        <div class="question-options">
            <div *ngFor="let option of question.options" class="form-check">
                <input class="form-check-input" type="checkbox" (change)="onResponseSelect(question.id, option.id)">
                <label class="form-check-label" for="{{question.id}}{{option.id}}">
                    {{option.id}} : {{option.valeur}}
                </label>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" (click)="checkResponse()" *ngIf="!displayResponse">Valider</button>
        <div *ngIf="displayResponse" class="resultat">
            <div [ngClass]="responseOk ? 'response-ok' : 'response-ko'">{{ resultatQuestion }}</div><br>
            <div *ngIf="!responseOk">Reponse correcte : {{question.idResponse}}<br><br></div>
            Explication : <br>
            {{question.explication}}
            <br>
            <br>
            <div *ngIf="ordreQuestion == questions.length">
                Le saviez-vous : <br>
                {{info}}
            </div>
            <br>
            <button class="btn btn-success" (click)="nextQuestion()" *ngIf="ordreQuestion != questions.length">Suivant</button>
            <button class="btn btn-primary" (click)="showBilanQuiz()" *ngIf="endOfQuiz">Bilan Quiz</button>
        </div>
    </ng-container>
</div>
<br>
<div *ngIf="endOfQuiz && displayBilanQuiz">
    <app-bilan-quiz [questions]="questions"
                    [responses]="responses"
                    [nbreQuestionOk]="nbreQuestionOk"
                    [nbreQuestionKo]="nbreQuestionKo"></app-bilan-quiz>
</div>
<button class="btn btn-warning" (click)="goToHome()" *ngIf="endOfQuiz && displayBilanQuiz">Accueil</button>
